<a href="https://colab.research.google.com/github/prajwalDU/Python-coding/blob/main/Python_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Perfect number or not
num = int(input())
sum = 0 
for i in range(1, num):
    if (num % i == 0):
        sum = sum + i
if (sum == num):
    print('It is Perfect Number')
else:
    print('It is not Perfect Number')

28
It is Perfect Number

In [ ]:
# Paindrome or not
string = input()
rev_string = reversed(string)
if list(string) == list(rev_string):
  print('String is a Palindrome')
else:
  print('String is not a Palindrome')

abcba
String is a Palindrome

In [ ]:
stra = input()
cha = input()

st = string.replace("cha"," ")
print(st)

prajwal
wa
abcba

In [ ]:
str = input()
ch = input()
strl = str.lower()
chl = ch.lower()
print(strl.replace(chl," "))

prajwal
j
pra wal

In [ ]:
a=int(input())
b=int(input())

print('value of a is : ', a)
print('value of b is : ', b)
a, b = b, a
print('After swapping')
print('value of a is : ', a)
print('value of b is : ', b)

5
7
value of a is :  5
value of b is :  7
After swapping
value of a is :  7
value of b is :  5

In [ ]:
color1 = eval(input())
color2 = eval(input())
output = []
for i in color1:
  if i in color2:
    output.append(i)
print(output)

["Black", "Green", "White", "Pink"]
["Red", "Green", "Orange", "White"]
['Green', 'White']

In [ ]:
L1 = eval(input())
L2 = eval(input())
x = [value for value in L1 if value not in L2]
y = [value for value in L2 if value not in L1]
print('L1-L2 = ', x)
print('L2-L1 = ', y)

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
L1-L2 =  ['red', 'orange', 'white']
L2-L1 =  ['black', 'yellow']

In [ ]:
add=int(input())
mult1=int(input())
mult2=int(input())
r = lambda a : a + 15
print("After addition:", r(add))
r = lambda  x, y : x * y
print("After multiplication:", r(mult1, mult2))

10
20
4
After addition: 25
After multiplication: 80

In [ ]:
text = eval(input())
char = input()

res = [idx for idx in text if idx[0].lower() == char.lower()]
print('Items start with a from the said list:')
print(res)

['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
a
Items start with a from the said list:
['abcd', 'abc', 'acjd']

In [ ]:
s= input()
ch=input()

starts_with = lambda x : True if x.startswith(ch) else False
print(starts_with('s'))

python
a
False

In [ ]:
def prime(n):
    np=[]
    isprime=[]
    for i in range (n+1,n+200):
        np.append(i)
    for j in np:
        val_is_prime = True
        for x in range(2,j-1):
            if j % x == 0:
                val_is_prime = False
                break
        if val_is_prime:
            isprime.append(j)
    return min(isprime)

In [ ]:
prime(48)

53

In [ ]:
import numpy as np
x_1, y_1 = 6, 7
x_2, y_2 = 5, 4
a=((x_2-x_1) ** 2+(y_2-y_1) ** 2) ** 0.5

print("The Euclidean Distance between the above given two points 'PQ' =" , a )

The Euclidean Distance between the above given two points 'PQ' = 3.1622776601683795

In [ ]:
num = int(input())

if num % 2 == 0:
  print('prime number', num)
else:
  print('Not a prime number :', num)

9
Not a prime number : 9

In [ ]:
num = range(1,1000)

def test1(num):
  return [i for i in num if i%3 == 0]

print(test1(num))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [ ]:
n = range(100)

def five(n):
  return [i for i in n if i%2 == 0 and i%5 == 0]

print(five(n))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
string = 'AlmaBettertt'

s = {}

for i in string:
  if i in s:
    s[i] += 1
  else:
    s[i] = 1
  result = max(s, key=s.get)

print("The maximum of string is :", result)

The maximum of string is : t

In [ ]:
try:
    if '1' != 1:
        raise "someError"
    else:
        print("someError has not occurred")
except "someError":
    print ("someError has occurred") 

#It print someError has occurred

In [ ]:
a = 'AlmaBetter'
b = 'retteBamlA'

if(a.find(b) == -1):
  print('Given string is unique')
else:
  print('Given string is not unique')

Given string is unique

In [ ]:
str = input()
word = input()

def insert_string(str, word):
  return str[:2] + word + str[2:]

print(insert_string(str, word))

{{}}
PHP
{{PHP}}

In [ ]:
string=input()
lower = string.lower()

def char_frequency(lower):
  dict = {}
  for n in lower:
    keys = dict.keys()
    if n in keys:
      dict[n] += 1
    else:
      dict[n] = 1
  return dict

print(char_frequency(lower))

AlmaBetter
{'a': 2, 'l': 1, 'm': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
from collections import OrderedDict
str=input()
lower = str.lower()

def remove_duplicate(str):
  return "".join(OrderedDict.fromkeys(str))

print(remove_duplicate(str))

AbCdEfGh
AbCdEfGh

In [ ]:
num= int(input())
reverse, temp = 0,num
while temp != 0:
  reverse = reverse * 10 + temp%10
  temp = temp//10
if reverse == num:
  print("Number is Palindrome")
else:
  print("Number is not Palindrome")

404
Number is Palindrome

In [ ]:
num = int(input())
first, second = 0,1
print("Fibonacci Series: ")
for i in range(0,num):
  if i <= 1:
    result = i
  else:
    result = first + second
    first = second
    second = result
  print(result)

5
Fibonacci Series:
0
1
1
2
3

In [ ]:
import math
num=int(input())

if num >= 0:
  print("Factorial of", "num", "is", math.factorial(num))
else:
  print("Factorial can't be calculated for negative number")

8
Factorial of num is 40320

In [ ]:
num= int(input())
reverse, temp = 0,num
while temp != 0:
  reverse = reverse * 10 + temp%10
  temp = temp//10
if reverse == num:
  print("Number is Palindrome")
else:
  print("Number is not Palindrome")

5885
Number is Palindrome

In [ ]:
from collections import OrderedDict
str=input()
lower = str.lower()

def remove_duplicate(str):
  return "".join(OrderedDict.fromkeys(str))

print(remove_duplicate(str))

AbCdEfGh
AbCdEfGh

In [ ]:
string=input()

def reverse(string):
    if len(string) % 4 == 0:
      return ''.join(reversed(string))
    return string

print(reverse(string))

abcd
dcba

In [ ]:
string=input()

def non_repeating(string):
    char = []
    ctr = {}
    for c in string:
        if c in ctr:
            ctr[c] += 1
        else:
            ctr[c] = 1
            char.append(c)
    for c in char:
        if ctr[c] == 1:
          return c
    return None

print(non_repeating(string))

abdadc
b

In [ ]:
string = input()
def count_word(string):
    counts = dict()
    words = string.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    counts_x = sorted(counts.items(), key= lambda kv : kv[1])
    return counts_x[-2]

print(count_word(string))

Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster.
('of', 4)

In [ ]:
num = eval(input())

print(['emp{0}'.format(i) for i in num])

[1,2,3,4]
['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
nums = eval(input())

def move_zeros(nums):
  result = sorted(nums, key=lambda x: not x)
  return result

print(move_zeros(nums))

[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
import itertools
lst = eval(input())

lst.sort()
new_lst = list(lst for lst,_ in itertools.groupby(lst))
print(new_lst)

[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
[[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
num = eval(input())

print(['emp{0}'.format(i) for i in num])

[1,2,3,4]
['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
nums = eval(input())

def move_zeros(nums):
  result = sorted(nums, key=lambda x: not x)
  return result

print(move_zeros(nums))

[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
import itertools
lst = eval(input())

lst.sort()
new_lst = list(lst for lst,_ in itertools.groupby(lst))
print(new_lst)

[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
[[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
lst = eval(input())

def remove_dup(lst):
  final_list = []
  for i in lst:
    if i not in final_list:
      final_list.append(i)
  return final_list

print(remove_dup(lst))

[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
lst = eval(input())

length = len(lst)
print(sum(list(map(round, lst)) * length))

[22.4, 4.0, -16.22, -9.10, 11.00, -12.22, 14.20, -5.20, 17.50]
243

In [ ]:
num = 5

for i in range(num):
    for j in range(i):
        print("*.", end=" ")
    print('')

for i in range(num,0,-1):
    for j in range(i):
        print("*.", end=" ")
    print('')

*.
*. *.
*. *. *.
*. *. *. *.
*. *. *. *. *.
*. *. *. *.
*. *. *.
*. *.
*.

In [ ]:
def pattern(n):
  for i in range(n):
    print("*."*i)
  for i in range(n-1, 0, -1):
    print("*."*i)

pattern(5)

*.
*.*.
*.*.*.
*.*.*.*.
*.*.*.*.
*.*.*.
*.*.
*.

In [ ]:
rownumbs = 4
colnumbs = 3

for i in range(1, rownumbs + 1):
  for j in range(1, colnumbs + 1):
    if (j % 2 == 0):
      print('0.', end = '')
    else:
      print('1.', end = '')
  print()

1.0.1.
1.0.1.
1.0.1.
1.0.1.

In [ ]:
rows= 5
colms= 5

for i in range(1, rows+1):
  for j in range(1, colms+1):
    if (i == 1 or i == rows or j == 1 or j == colms):
      print('0.', end = '')
    else:
      print('', end = '  ')
  print()

0.0.0.0.0.
0.      0.
0.      0.
0.      0.
0.0.0.0.0.

In [ ]:
string = input()
new_string = " "

i = 0
for i in range(0, len(string) -1):
  new_string = new_string + string[i]
  if(string[i] == string[i+1]):
    new_string += '*'
print(new_string)

AlmaBetter
 AlmaBet*te

In [ ]:
num_of_elements = input()

def count_duplicate(num_of_elements):
  size = len(num_of_elements)
  repeated = []
  for i in range(size):
    k = i + 1
    for j in range(k, size):
      if num_of_elements[i] == num_of_elements[j] and num_of_elements[i] not in repeated:
        repeated.append(num_of_elements[i])
  return repeated

p = print(count_duplicate(num_of_elements))
print("num_of_elements", "num_of_elements", "is repeated", "p", "times")

5 2 2 3 2 2
[' ', '2']
num_of_elements num_of_elements is repeated p times

In [ ]:
num1, num2 = [1,2,3,4],[5,6,7,8]
num = [num1, num2]
print(num[1][2])

7

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']

while a:
  if len(a) < 3:
    break
  print(a.pop())
print('Done.')

corge
qux
baz
Done.

In [ ]:
s1 = 'care'
s2 = 'race'

print(list(s1) == list(s2))

False

In [ ]:
a = '$1000'
b = 'Doller1000'
c = '_$1000'

print(a.isidentifier(), b.isidentifier(), c.isidentifier())

False True False

In [ ]:
def f(x):
  return 0 if x == 0 else 2*f(x-1) + x*x

print(f(2))

6

In [ ]:
s = [1,2,3,4,5,6,7,8]

print(s[-6:6])

[3, 4, 5, 6]

In [1]:
f = foo()
format(f)

NameError: ignored

In [6]:
a = {'Apple':1, 'Banana':2,'Cherry':3}
print(list(a.items())[::-1][0][0])

Cherry

In [7]:
g = {3,4,5,4}
h = {5,2,3,5}

print(h-g)

{2}

In [8]:
s= '3cheers2allthree'

print(s.title())

3Cheers2Allthree

In [9]:
a = [1,2,3,4]
b = [3,4,5,6]

print(a[-1] in b)

True

In [13]:
x = '4.0'
y = '2.0'

print(int(x + y))

ValueError: ignored

In [25]:
x = '4.0'
y = '2.0'

x1 = float(x)
y1 = float(y)

x2 = int(x1)
y2 = int(y1)

print(type(x2))
print(y1)
#print(float(x + y))

<class 'int'>
2.0

In [27]:
print('*'.join('100000'[:3]))
print(''.join(('1*0*0',)))
print('*'.join(['1*','00*']))
print('*'.join(str(10*10)))

1*0*0
1*0*0
1**00*
1*0*0

In [28]:
s= '1is a Digit'

print(s.capitalize())

1is a digit